body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #000000, #120d10, #1b161d, #1f1f2a, #1f2937);
  color: white;
  padding: 10px 50px 10px 50px;
  font-family: 'monospace';
}

header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  width: 50px;
  height: 50px;
}

ul {
  display: flex;
  align-self: flex-end;
  list-style: none;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

li {
  padding-left: 20px;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  /*! justify-content: space-between; */
  /*! padding-bottom: 40px; */
}

.header-content-left {
  display: flex;
  flex-direction: column;
  flex: 3 1 0;
  margin: 2%;
}

.header-content-title {
  font-size: 48px;
  font-weight: 1000;
  color: #F9FAF8;
  text-transform: uppercase;
}

.header-content-text {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 2%;
}

button {
  background-color: #c93535;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2% 10% 2% 10%;
  font-size: 20px;
  border-radius: 10%;
  border-style: none;
  color: white;
  font-weight: bolder;
}

button:hover {
  border-style: solid;
  border-color: #c93535;
  font-weight: bolder;
  background-color: white;
  color: #c93535;
  cursor: pointer;
}

.header-content-image {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-self: center;
}

.foto {
  display: flex;
  width: 60vw;
  height: 25vw;
  max-width: 100%;
  max-height: 100%;
}

main {
  display: flex;
  background-image: url(trailer.jpg);
  background-size: cover;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  background-repeat: no-repeat;
  color: white;
  font-family: fantasy;
  height: 48vw;
  padding: 50px 0px 97px 0px;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-title {
  align-self: center;
  margin: 3%;
  font-size: 36px;
  font-weight: 1000;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 197px;
  flex: 1;
  gap: 17px;
  margin: 2px;
}

main .text {
  display: flex;
  width: 160px;
  flex: 1;
  align-self: center;
  justify-content: center;
  font-weight: bold;
  background-color: #c93535;
  border-radius: 7%;
  background-image: linear-gradient(to left top, #c42525, #941a2a, #631725, #34121a, #000000);
}

main img {
  align-self: center;
  width: 150px;
  height: 150px;
  border-style: double;
  border-width: 7px;
  border-color: #c93535;
  border-radius: 75px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: slategray;
  margin: 0;
  font-size: 36px;
  background-color: black;
  color: white;
  padding: 0% 15% 0% 15%;
}

.author {
  display: flex;
  align-self: flex-end;
  font-size: 25px;
  margin: 1%;
}

.call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 50px;
}

.pop-up {
  display: flex;
  flex-direction: row;
  background-image: url(trailer2.jpg);
  background-size: cover;
  font-family: fantasy;
  color: white;
  margin: 1%;
  padding: 4%;
  border-radius: 5%;
  gap: 25%;
}

.pop-up .text {
  display: flex;
  flex-direction: column;
  color: white;
}

mark {
  color: white;
  background-image: linear-gradient(to right top, #c93535, #af2c2d, #972325, #7e1a1d, #671215, #611114, #5a0f12, #540e10, #5c1315, #631819, #6b1c1d, #732121);
}

.pop-up button {
  border-style: solid;
  border-color: white;
  font-weight: bolder;
  background-image: linear-gradient(to right top, #c93535, #af2c2d, #972325, #7e1a1d, #671215, #611114, #5a0f12, #540e10, #5c1315, #631819, #6b1c1d, #732121);
}

.pop-up button:hover {
  border-style: solid;
  border-color: #c93535;
  font-weight: bolder;
  background-image: linear-gradient(to right top, #ffffff, #f2f0f3, #e7e0e6, #ded0d7, #d5c0c6, #ceb3b8, #c7a6a9, #bf9999, #b78b8a, #b07c7c, #a76e6e, #9f6060);
  color: #c93535;
  cursor: pointer;
}

.text-title {
  font-size: 25px;
  margin: 5% 0% 5% 0%;
}

footer {
  display: flex;
  color: white;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
  height: 100px;
}